apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - patches/argocd-namespace.yaml
  - https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
  - patches/argocd-repo-secret.yaml

patches:
  - path: patches/argocd-server-lb.yaml
  - path: patches/argocd-insecure.yaml
  - path: patches/argocd-disable-networkpolicy.yaml
