apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - patches/argocd-namespace.yaml
  - https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
  - patches/argocd-repo-secret.yaml

patches:
  # Service → LoadBalancer
  - target:
      group: ""
      version: v1
      kind: Service
      name: argocd-server
      namespace: argocd
    path: patches/argocd-server-lb.yaml

  # Deployment → --insecure
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: argocd-server
      namespace: argocd
    path: patches/argocd-insecure.yaml
